@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap");
* {
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

h2 {
  color: #fad744;
  text-align: center;
  text-transform: capitalize;
  font-size: 80px;
  font-family: "Caveat Brush", cursive;
  text-shadow: 4px 4px 1px rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
}

h3 {
  color: #fad744;
  font-size: 18px;
  font-weight: 600;
}

.quizcontainer {
  padding: 30px;
  background-color: #2b3252;
  width: 60%;
  height: auto;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  border-radius: 10px;
}

label {
  color: #fad744;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
}
hr {
  border-color: #fad744;
}
input[type="radio"] {
  margin-right: 8px;
}

input[type="submit"] {
  background-color: #fad744;
  padding: 10px 15px;
  color: #2b3252;
  font-size: 20px;
  font-weight: 600;
  box-shadow: none;
  border-radius: 10px;
  border: 2px solid transparent;
  transition: 0.3s background-color ease-in, 0.2s border ease-in;
}

input[type="submit"]:hover {
  cursor: pointer;
  background-color: transparent;
  color: #fad744;
  border-color: #fad744;
}

.scoreboard {
  background-color: #fff;
  width: 200px;
  height: 300px;
  position: sticky;
  top: 0;
  float: right;
  right: 50px;
  padding: 30px;
  border-radius: 10px;
}
h4 {
  font-size: 30px;
  font-weight: 600;
}
